.navbar {
  background: #d53b47;
  height: 100px;
  margin-bottom: 30px;
}

.pokedex_img {
  transform: translateY(-40%) rotate(20deg) translateX(-20%);
  width: 400px;
  height: auto;
  position: absolute;
  right: 0%;
  opacity: 0.5;
}
