@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg,
    rgb(167, 164, 223) 0%,
    rgba(9, 121, 119, 0) 17%,
    rgba(0, 212, 255, 0.3364928909952607) 100%
  );
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border-style: none;
  font-family: "Lato";
  background-color: #d53b47;
  color: rgb(255, 255, 255);
  border-radius: 10%;
}

.btn button:hover {
  background-color: #c74f59;
}

.search-filter {
  height: 25px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 250px;
  font-family: inherit;
}

.types {
  margin-left: 10px;
  position: relative;
  font-family: inherit;
  text-transform: uppercase;
  width: 100px;
}

.types select {
  text-align-last: center;
  width: 100%;
}
